.App{
    width: 800px;
    height: 800px;
    margin: 0 auto;
    background-color: gray;
    text-align: center;
    display: flex;
    
    
   
    
}
.counter{

    display:grid;
    font-size: 30px;
 
    margin: 80px;
 
    height: 200px;
    width: 150px;
}
.IncrementButton{
background-color:grey;
height: 40px;
padding: 10px;
margin: 10px;
font-size: 25px;
border-radius: 5px;

}
.DecrementButton{
    background-color: red;
    height: 40px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    border-radius: 5px;
    

}