.App{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: gray;
    text-align: center;
    align-items: center;
    display: grid;
    
    
   
    
}
.counter{
    font-size: 75px;
    font-weight: 400;
}
.IncrementButton{
background-color: green;
height: 40px;
padding: 10px;
margin: 10px;
font-size: 25px;
border-radius: 5px;

}
.DecrementButton{
    background-color: red;
    height: 40px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    border-radius: 5px;
    

}